

@import "application.css";

/*@import "fonts.css";
@import "oreilly.css";
@import "syntax.css";
@import "thebe.css";*/

/*
in js
addclass .page to top/first section "data-type chapter" ? and text?

add full to all code cells
*/

.page {
  padding: 2rem 4rem;
}

.cell {
  width: 100% !important;
}

h1 {
  font-size: 3em;
  margin-bottom: 0.5em !important;
}

section.page > h1:first-of-type {
  font-size: 4em;
  margin-bottom: 1.5em;
}

